- wrap_layout :layout do

  %div.row
    %div.columns.hide-for-small.large-2
      %div.meta.detail
        %span.year= current_article.date.strftime('%Y')
        %span.month= current_article.date.strftime('%h')
        %span.day= current_article.date.strftime('%d')
      %ul.tags
        - current_article.tags.each do |tag|
          %span.round.alert.label
            %li= tag
    %div.columns.small-12.large-9
      %div.content-layer.default-content-paddings
        %article
          %h3= current_article.title
          %section.section
            = yield

    = wrapped :footer do
      %nav
        %ul
          - if (n = current_article.next_article)
            %li.next
              %span Next:
              = link_to n.title, n.url_without_extension, :title => "Read '#{n.title}'"
          - if (p = current_article.previous_article)
            %li.prev
              %span Previous:
              = link_to p.title, p.url_without_extension, :title => "Read '#{p.title}'"
