.preview
  .row.post-header
    .small-3.large-2.large-offset-1.columns
      .date
        .years
          %p= post_preview.date.strftime('%Y')
        .days
          %p= post_preview.date.strftime('%h')
          .number
            %p
              = post_preview.date.strftime('%d')
          %p= post_preview.date.strftime('%a')
    .small-9.large-9.columns.title
      %h1= link_to post_preview.title, post_preview.url_without_extension
  .space.show-for-small
    %p &nbsp;
  .row
    .large-2.large-offset-1.columns.hide-for-small
      %ul.tags
        - post_preview.tags.each do |tag|
          %li
            = tag
    .small-12.large-9.columns.text
      = md2html post_preview.summary
      .more
        = link_to "read on&hellip;", post_preview.url_without_extension