---
title: blog
body_class: blog
pageable: true
per_page: 10
---

%article
  %section
    .main
      .row
        .small-12.large-2.columns
          .maintitle
            %h1 blog
          .links.hide-for-small
            %a{:href=>"http://eurucamp.org"}
              %img{:src=>"/images/logo.png"}
          = partial 'partials/aside'
        .small-12.large-10.columns
          .posts
            = partial 'partials/post_preview', collection: page_articles
          - if paginate
            - if prev_page
              = link_to 'Previous page', prev_page
            %span Page #{page_number} of #{num_pages}
            - if next_page
              = link_to 'Next page', next_page
