---
title: blog
body_class: blog
---

%article
  %section
    .main
      .row
        .small-12.large-2.columns
          .maintitle
            %h1 blog
          .links.hide-for-small
            %a{:href=>"http://eurucamp.org"}
              %img{:src=>"/images/logo.png"}
          .tweets.hide-for-small
            .title
              %h2 tweets
            .tweet
              %p coming soon...
        .small-12.large-10.columns
          .posts
            - blog.published_articles[0...20].each_with_index do |article, index|
              .preview
                .row
                  .small-3.large-2.large-offset-1.columns
                    .date
                      .years
                        %p= article.date.strftime('%Y')
                      .days
                        %p= article.date.strftime('%h')
                        .number
                          %p
                            = article.date.strftime('%d')
                        %p= article.date.strftime('%a')
                  .small-9.large-9.columns.title
                    %h1= link_to article.title, article.url_without_extension
                .space.show-for-small
                  %p &nbsp;
                .row
                  .large-2.large-offset-1.columns.hide-for-small.tags
                    %ul
                      - article.tags.each do |tag|
                        %li
                          = tag
                  .small-12.large-9.columns.text
                    = md2html article.summary
                    .more
                      = link_to "read on&hellip;", article.url_without_extension
