!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title= [current_page.data.title, 'eurucamp Blog'].compact.flatten.join(' | ')
    %meta(content="" name="description")
    %meta(content="" name="author")
    %meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport")

    = feed_tag :atom, "/feed.xml", :title => "ATOM"

    %link(href="favicon.ico" rel="shortcut icon")
    //%link(href="apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon")
    //%link(href="apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon")
    //%link(href="apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon")

    = stylesheet_link_tag 'app'

    %script(src="/javascripts/lib/modernizr.js")

    :javascript
      Modernizr.load([
        {
          test: Modernizr.mq('only all'),
          nope: '/javascripts/lib/mq_polyfill.js'
        },{
          load: '/javascripts/application.js'
        }
      ]);

    = partial 'partials/analytics'

  %body(class="#{current_page.data.body_class}")

    .fixed.contain-to-grid
      %nav.top-bar
        %ul.title-area
          %li.name
            %h1
              %a{:href => "/"}
                eurucamp
                %span
                  2013
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span
        %section.top-bar-section
          %ul.right
            %li
              %a(href="https://twitter.com/eurucamp")
                .hide-for-small
                  %img{:src=>"/images/twitter_icon2.png"}
                .show-for-small
                  TWITTER
            %li
              %a(href="http://lanyrd.com/2013/eurucamp")
                .hide-for-small
                  %img{:src=>"/images/lanyrd_icon2.png"}
                .show-for-small
                  LANYRD
            %li
              %a(href="https://www.facebook.com/eurucamp")
                .hide-for-small
                  %img{:src=>"/images/facebook_icon2.png"}
                .show-for-small
                  FACEBOOK
            %li
              %a(href="https://plus.google.com/114984140580239329274")
                .hide-for-small
                  %img{:src=>"/images/google_plus_icon2.png"}
                .show-for-small
                  GOOGLE+
            %li.show-for-small
              %a(href="http://eurucamp.org")
                eurucamp MAIN SITE

    .main
      .row
        .small-12.large-2.columns
          .maintitle
            %h1 blog
          .links.hide-for-small
            %a{:href=>"http://eurucamp.org"}
              %img{:src=>"/images/logo.png"}
          = partial 'partials/aside'
        .small-12.large-10.columns
          = yield

    :javascript
      document.write('<script src=' +
      ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
      '.js><\/script>')

    = javascript_include_tag 'foundation/foundation'
    -#javascript_include_tag 'foundation/foundation.alerts'
    -#javascript_include_tag 'foundation/foundation.clearing'
    -#javascript_include_tag 'foundation/foundation.cookie'
    = javascript_include_tag 'foundation/foundation.dropdown'
    -#javascript_include_tag 'foundation/foundation.forms'
    -#javascript_include_tag 'foundation/foundation.joyride'
    -#javascript_include_tag 'foundation/foundation.magellan'
    -#javascript_include_tag 'foundation/foundation.orbit'
    -#javascript_include_tag 'foundation/foundation.placeholder'
    -#javascript_include_tag 'foundation/foundation.reveal'
    -#javascript_include_tag 'foundation/foundation.section'
    -#javascript_include_tag 'foundation/foundation.tooltips'
    = javascript_include_tag 'foundation/foundation.topbar'

    <script>$(document).foundation();</script>
